/* Empty. Add your own CSS if you like */
.bar.bar-stable{
	background:#000;
	border:none;
}
.bar.bar-stable .title{
	color:#ddd;
}
.item{
	text-align:center;
	background-color:#170E09;
	color:#fff;
}
.wrapping-list .item-content, .wrapping-list .item {
    overflow: initial;
    white-space: initial;
}
.beverage-id{
	position:absolute;
	left:10px;
	top:10px;
	font-size:30px;
	font-weight:900;
}
.beverage-producer{
	font-size:30px;
	line-height:30px;
	font-style:italic;
}
.beverage-name{
	font-size:50px;
	line-height:50px;
	font-weight:900;
}
.beverage-color{
	width:50px;
	height:50px;
	border:3px solid #fff;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:5px;
}
.beverage-style{
	margin-bottom:20px;
}
.beverage-location{
	font-style:italic;
	margin-bottom:10px;
}
.item img{
	max-width:50vw;
	background:rgba(255,255,255,0.5);
}